src/assignment7/wsdl/assignment7.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<description xmlns="http://www.w3.org/ns/wsdl"
	targetNamespace="http://jw.nju.edu.cn/wsdl" xmlns:wns="http://jw.nju.edu.cn/wsdl"
	xmlns:tns="http://jw.nju.edu.cn/schema" xmlns:nju="http://www.nju.edu.cn/schema"
	xmlns:wsdlx="http://www.w3.org/ns/wsdl-extensions" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:whttp="http://www.w3.org/ns/wsdl/http" xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
	xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<!--schema import -->
	<import namespace="http://jw.nju.edu.cn/FaultSchema" location="../xsd/MessageFault.xsd" />
	<!--web service 使用的数据类型 -->

	<types>
		<xs:include namespace="http://jw.nju.edu.cn/schema" />
		<xs:import namespace="http://jw.nju.edu.cn/FaultSchema" />
	</types>


	<interface name="stdManageInterface">
		<fault name="stdNotFoundFault" element="ft:目标不存在" />
		<fault name="inValidQueryFault" element="ft:查询条件无效" />
		<fault name="inValidDataFault" element="ft:数据格式错误" />
		<fault name="otherFault" element="ft:其他错误" />

		<operation name="addStd" pattern="http://www.w3.org/ns/wsdl/in-out">
			<input messageLabel="In" element="tns:学生" />
			<infault ref="wns:inValidDataFault" messageLabel="In"></infault>
			<outfault ref="wns:otherFault" messageLabel="Out"></outfault>
		</operation>
		<operation name="addStdList" pattern="http://www.w3.org/ns/wsdl/in-out">
			<input messageLabel="In" element="tns:学生列表" />
			<infault ref="wns:inValidDataFault" messageLabel="In"></infault>
			<outfault ref="wns:otherFault" messageLabel="Out"></outfault>
		</operation>
		<operation name="updateStd" pattern="http://www.w3.org/ns/wsdl/in-out">
			<input messageLabel="In" element="tns:学生" />
			<infault ref="wns:inValidDataFault" messageLabel="In"></infault>
			<outfault ref="wns:otherFault" messageLabel="Out"></outfault>
		</operation>
		<operation name="deleteStd" pattern="http://www.w3.org/ns/wsdl/in-out">
			<input messageLabel="In" element="tns:学号" />
			<infault ref="wns:inValidDataFault" messageLabel="In"></infault>
			<outfault ref="wns:stdNotFoundFault" messageLabel="Out"></outfault>
			<outfault ref="wns:otherFault" messageLabel="Out"></outfault>
		</operation>
		<operation name="queryStd" pattern="http://www.w3.org/ns/wsdl/in-out">
			<input messageLabel="In" element="tns:学号" />
			<output messageLabel="Out" element="tns:学生" />
			<infault ref="wns:inValidDataFault" messageLabel="In"></infault>
			<outfault ref="wns:stdNotFoundFault" messageLabel="Out"></outfault>
			<outfault ref="wns:otherFault" messageLabel="Out"></outfault>
		</operation>
		<operation name="searchStdScore" pattern="http://www.w3.org/ns/wsdl/in-out">
			<input messageLabel="In" element="tns:学号" />
			<output messageLabel="Out" element="tns:课程成绩列表" />
			<infault ref="wns:inValidQueryFault" messageLabel="In"></infault>
			<outfault ref="wns:inValidDataFault" messageLabel="Out"></outfault>
			<outfault ref="wns:otherFault" messageLabel="Out"></outfault>
		</operation>
		<operation name="updateStdScore" pattern="http://www.w3.org/ns/wsdl/in-out">
			<input messageLabel="In" element="tns:成绩修改列表" />
			<output messageLabel="Out" element="tns:课程成绩列表" />
			<infault ref="wns:inValidQueryFault" messageLabel="In"></infault>
			<outfault ref="wns:stdNotFoundFault" messageLabel="Out"></outfault>
			<outfault ref="wns:otherFault" messageLabel="Out"></outfault>
		</operation>
	</interface>
	<!--web service 使用的通信协议 -->
	<binding name="stdManageBinding" interface="wns:stdManageInterface"
		type="http://www.w3.org/ns/wsdl/soap" wsoap:version="1.2"
		wsoap:protocol="http://www.w3.org/2003/05/soap/bindings/HTTP/">
		<operation ref="wns:search"
			wsoap:mep="http://www.w3.org/2003/05/soap/mep/request-response" />
		<operation ref="wns:update"
			wsoap:mep="http://www.w3.org/2003/05/soap/mep/request-response" />
		<operation ref="wns:addStd"
			wsoap:mep="http://www.w3.org/2003/05/soap/mep/request-response" />
		<operation ref="wns:addStdList"
			wsoap:mep="http://www.w3.org/2003/05/soap/mep/request-response" />
		<operation ref="wns:queryStd"
			wsoap:mep="http://www.w3.org/2003/05/soap/mep/request-response" />
		<operation ref="wns:deleteStd"
			wsoap:mep="http://www.w3.org/2003/05/soap/mep/request-response" />
		<operation ref="wns:updateStd"
			wsoap:mep="http://www.w3.org/2003/05/soap/mep/request-response" />

		<fault ref="wns:inValidDataFault" wsoap:code="soap:Sender" />
		<fault ref="wns:inValidQueryFault" wsoap:code="soap:Sender" />
		<fault ref="wns:otherFault" wsoap:code="soap:Sender" />
		<fault ref="wns:otherFault" wsoap:code="soap:Sender" />
	</binding>
	<service name="stdManageService" interface="wns:stdManageInterface">
		<!-- SOAP 1.2 End Point -->
		<endpoint name="scoreListEndpoint" binding="wns:stdManageBinding"
			address="http://localhost:8080/ConnectionServlet" />
	</service>
</description>