SOA11/src/xsd/message.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://jw.nju.edu.cn/schema"
	xmlns:tns="http://jw.nju.edu.cn/schema" elementFormDefault="qualified">

	<complexType name="EmailLoginType">
		<all>
			<element name="Username" type="string"/>
			<element name="Password" type="string"/>
		</all>
	</complexType>
	
	
	<simpleType name="EmailLoginResponseType">
		<restriction base="string">
			<minLength value="1" />
			<maxLength value="50" />
		</restriction>
	</simpleType>

	
	<element name="EmailLogin" type="tns:EmailLoginType"/>
	<element name="EmailLoginResponse" type="tns:EmailLoginResponseType"/>
</schema>